<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>상품 목록</title>
</head>
<body>
    <header>
        <%- include('admin-header.ejs')%>
    </header>
    
    <div>
        
         <% for(var i = 0; i < products.length; i++)
         { %>
            <button onclick="getProduct(`<%=products[i].id %>`)">
            title: <%= products[i].title %> <br>
            description: <%= products[i].description %> <br>
            price: <%= products[i].price %> <br>
            </button>
            <% } %>

    </div>
    
</body>

<script>
    function getProduct (productId) {
        window.location.replace(`http://localhost:3000/products/${productId}`)
    }

    function getProductById(productId){
        axios
        .get(`/products/${productId}`
        )
        .then((res) => {
            alert(JSON.stringify(res.data.title))
        })
        .catch((error) => {
            // 예외처리
            alert(error.response?.data?.message || error.response.data.errorMessage.details[0].message);
        });
    }
        


</script>
</html>