<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>마이페이지</title>
    <!--    BootStrap Library-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Jua&family=Noto+Serif+KR:wght@200&display=Gowun+Dodum&display=swap"
          rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <!--    Axios-->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!--    Js -->
    <script>window.onload = (event) => {
        getEditUserInformation()
      };</script>

    <script><%- include('js/main-header.js') %></script>
</head>

<body style="background-color: #F2F2F2">
<!--상단 메뉴바-->
<%- include('main-header.ejs') %>
<div class="container-fluid" style="width:45%; background: white; margin-top: 40px; margin-bottom: 40px; min-height:1000px; padding: 0">
    <div class="container" style="background: white; padding: 0">
        <div id="headerMenu" style="padding: 0">
            <div class="row" style="padding-top: 30px; background-color: white; display: flex;
  align-items: center;
  justify-content: center;
width: 100%; margin: 0">
                <div class="col-md-3"
                     style="height: 50px; text-align: center; line-height: 50px; background-color: #05aff2; border-radius: 25px;">
                    <a onclick="window.location.reload()"
                       style="color: white; font-weight: bold; font-size: 18px; text-decoration: none;">
                        관심목록
                    </a>
                </div>

                <div class="col-md-3"
                     style="height: 50px; text-align: center; line-height: 50px; background-color: #05aff2;border-radius: 25px;">
                    <a onclick="mySellProduct()"
                       style="color: #ffffff; font-weight: bold; font-size: 18px; text-decoration: none;">
                        판매진행</a>
                </div>

                <div class="col-md-3"
                     style="height: 50px; text-align: center; line-height: 50px; background-color: #05aff2;border-radius: 25px;">
                    <a onclick="myBuyList()"
                       style="color: #ffffff; font-weight: bold; font-size: 18px; text-decoration: none;">
                        구매내역</a>
                </div>

                <div class="col-md-3"
                     style="height: 50px; text-align: center; line-height: 50px; background-color: #05aff2; border-radius: 25px;">
                    <a onclick="mySellList()"
                       style="color: #ffffff; font-weight: bold; font-size: 18px; text-decoration: none;">
                        판매내역
                    </a>
                </div>

            </div>
        </div>
    </div>
    <div id="temphere"></div>
    <button onclick="editUserInformation()">회원정보 수정하기</button>
    <div id="temphere2"></div>
    <div
            id="layer"
            style="
                      display: none;
                      position: fixed;
                      overflow: hidden;
                      z-index: 1;
                      -webkit-overflow-scrolling: touch;
                    "
    ></div>
    <!-- 본문-->

    <!--    추후 모바일 버전으로 수정한다하면 md -> sm 으로 수정해야함-->

            <!--            <div class="d-grid gap-2">-->
            <!--                <div class="btn btn-primary btn-lg" onclick="login()">로그인</div>-->
            <!--                아직 냐옹상회의 회원이 아니신가요?-->
            <!--                <a class="btn btn-primary btn-lg" href="view/signup"> 가입하러 가기</a>-->
            <!--                <a id="buttonDiv" class="btn btn-primary btn-lg" href="/google"> 구글 로그인</a>-->
            <!--            </div>-->
</div>



<!--상단 내비게이션-->

<!--하단 메뉴바-->
<%- include('main-footer.ejs') %>


</body>
<script><%- include('js/address-api.js')%></script>
<script>//TODO: 전에 썼던 비밀번호와 일치할 경우 비밀번호 변경 불가능하게 만들기
  //현재 : 비밀번호 변경 가능
  //정규식을 모아서 가져다 쓸수 있게 만들기
  function editUserInformation() {
    let password = document.getElementById('password').value;
    let rptpassword = document.getElementById('repeatPassword').value;
    let usernickname = document.getElementById('nickname').value;
    let phonenumber = document.getElementById('phoneNumber').value; // 휴대폰번호
    let address1 = document.getElementById('address').value; // 경기 00시 00로
    let address2 = document.getElementById('extraAddress').value; // (00동 00아파트)
    let address3 = document.getElementById('detailAddress').value; // 000동 000호
    let address4 = document.getElementById('postcode').value; // 우편번호
    let newAddress = address1 + ' ' + address2 + ' ' + address3 + ' ' + address4;
    if (password.value === '') {
      alert('비밀번호를 입력해주세요.');
      password.focus();
      return false;
    }
    if (rptpassword !== password) {
      alert('비밀번호가 일치하지 않습니다.');
      rptpassword.focus();
      return false;
    }
    const pwdCheck =
      /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/;
    if (!pwdCheck.test(password)) {
      alert(
        '비밀번호는 한개의 영문, 한개의 숫자, 한개의 특수문자를 포함한 8자 이상이 되어야 합니다.',
      );

      axios
        .put('user/api/me/edit', {
          headers: {
            'Content-type': 'application/x-www-form-urlencoded',
          },
          nickname: usernickname.toString(),
          password: password.toString(),
          phone: phonenumber.toString(),
          address: newAddress.toString(),
        })
        .then(function (res) {
          if (res.status === 401) {
            alert('로그인이 필요합니다.');
            window.location.href = '/login';
          }

          console.log('수정성공', data);
          return data;
        })
        .catch(function (error) {
          console.log('에러', error);
        });
    }

  }
</script>
<script><%- include('js/get-edit-user-information.js')%></script>
<script><%- include('js/autohypen.js') %></script>
</html>