<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Test Product 리스트</title>
</head>
<body>
<h1>
    <button onclick="location.href='index'"> 오더로 돌아가기</button>
</h1>
<% for(let i = 0; i < data.length; i++) { %>
    상품이름 :<%= data[i]?.title %>
    <br />
    상품설명: <%= data[i]?.price %><br />
    원하는 가격: <%= data[i]?.price %><br />
    viewCount: <%= data[i]?.viewCount %><br />
    likes: <%= data[i]?.likes %><br />
    상품상태: <%= data[i]?.status %><br />
    판매자: <%= data[i]?.seller?.nickname %><br />
    개시날짜: <%= data[i]?.createdAt %><br />
    <div style="display: none">상품id: <%= data[i]?.id %><br /></div>
    <button onclick="ProductDetail(<%= data[i]?.id %>)">가격 제시</button><br>

    ---------------------------------------------------------<br>
<% } %>
<h1>
    <button> 오더로 돌아가기</button>
</h1>
<script>

  function ProductDetail( productId ) {
    console.log(productId);
    let aa = prompt("숫자입력해주세여");
    while ( isNaN(aa) || aa === "" ){
      aa = prompt("입력값이 올바르지않습니다. 다시입력해주세여");
    }
    if ( aa === null) {
      window.location.reload();
    }
    axios
      .post(`http://localhost:3000/orders/priceDeal/${ productId }`,
        { price : aa }
      )
      .then(( res ) => {
        // 응답처리
        alert("가격제시 테스트 입니댜");
        window.location.replace(`http://localhost:3000/test`);
        // window.location.href = `priceDeal/${ productId }`;
      })
      .catch(( error ) => {
        // 예외처리
        alert(error.response?.data?.message || error.response.data.errorMessage.details[0].message);
      });
  }


  function findMyProducts( productId ) {
    console.log(productId);
    axios.get(`products/${ productId }`)
      .then(response => {
        window.location.href = `products/${ productId }`;
      })
      .catch(error => {
        if ( error.response ) {
          if ( error.response.status === 401 || error.response.status === 404 ) {
            alert(error.response.data.error);
            console.log(error);
            window.location.reload(false);
          }
        }
      });
  }
</script>
</body>
</html>
