<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>회원</title>
  
    <!--    BootStrap Library-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Jua&family=Noto+Serif+KR:wght@200&display=Gowun+Dodum&display=swap"
        rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <!--    JQuery-->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!--    &lt;!&ndash;    JQuery Cookie&ndash;&gt;-->
    <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>-->
  
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<style>

.col-md-9 > h3{
  display: inline-block;
   border: 1px solid red;
   padding: 5px;
  width:300px;
}

.col-md-9 > h4{
  display: inline-block;  
}

.footer-btn{
    margin-left:20%;
    margin-top: 2%;
    width:150px;
    border-radius: 6px;
    border: 1px;
  }
</style>
<body>
    
        <%- include('admin-header.ejs')%>
        
<div class="container-fluid" style="background:#eee; margin-top: 40px; margin-bottom: 40px;">
    <div class="container" style="background: #fff; margin-top: 20px;padding: 0;">

        <div class="container-fluid" style="border: 1px solid red; margin-top: 20px;" >
            <div class="row">  
                
                <div class="col-md-9" style="border: 1px solid red; margin-left:12%; height:500px; padding-top: 50px; padding-left: 20%;">  
                    
                    <h4>닉네임:</h4> <h3 style="margin-left: 30px;"><%= user.nickname %> </h3><br>
                    <h4>이메일:</h4> <h3 style="margin-left: 30px;"><%= user.email %> </h3><br>
                    <h4>전화번호:</h4> <h3 style="margin-left: 5px;"><%= user.phone %> </h3><br>
                    <h4>주소:</h4> <h3 style="margin-left: 52px;"><%= user.address %> </h3><br>
                    <% if (user.ban === 1) {%> <h4>상태:</h4> <h3 style="margin-left: 52px;">블랙리스트</h3><%} %>
                    
                 </div>  
            </div>  
        </div>   

    </div>  
</div>

     <!-- 하단부 -->

     <div class="container-fluid" style="height: 40px;position: fixed; bottom:0; background: #fff; padding: 0">
        <div class="container" style="height: 40px; padding: 0; border: 1px solid red">
          <div class="row" id="noticeFooter"style="width: 100%; background-color: #79D0F2;margin: 0;">
            <div class="col" style="border: 1px solid black;height: 40px; width: 20%"></div>
            <div class="col" style="height: 40px; width: 20%"> <% if (user.ban === 0) {%> <button class="footer-btn" onclick = "banUser(`<%= user.id %>`, 1)">밴 하기</button> <%}
                else if (user.ban === 1) {%> <button class="footer-btn" onclick = "banUser(`<%= user.id %>`, 0)">밴 취소</button> <%} %><br></div>
            <div class="col" style="height: 40px; width: 20%"></div>
            <div class="col" style="height: 40px; width: 20%"><button class="footer-btn" onclick = "deleteUser(`<%= user.id %>`)">회원정보 삭제</button><br></div>
            <div class="col" style="border: 1px solid black;height: 40px; width: 20%"></div>
          </div>
        </div>

    <footer>
        
        
    </footer>
    
</body>

<script>
    function banUser(userId, ban){
        axios
        .put(`/users/${userId}`, 
        { userId: userId, ban: ban}
        )
        .then((res) => {
            alert(JSON.stringify(res.data))
            window.location.replace(`/users/${userId}`)
        })
        .catch((error) => {
            // 예외처리
            alert(error.response?.data?.message || error.response.data.errorMessage.details[0].message);
        });
    }

    function deleteUser(userId){
        if(confirm('정말 삭제하시겠습니까?')){ 
        axios
        .delete(`/users/${userId}`)
        .then((res) => {
            // 응답처리
            alert(JSON.stringify(res.data.message))
            window.location.replace("http://localhost:3000/users")
        })
        .catch((error) => {
            // 예외처리
            alert(error.response?.data?.message || error.response.data.errorMessage.details[0].message);
        });
    }    
    }

    

</script>
</html>