<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>카테고리</title>

  <!--    BootStrap Library-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link
      href="https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Jua&family=Noto+Serif+KR:wght@200&display=Gowun+Dodum&display=swap"
      rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
  <!--    JQuery-->
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <!--    &lt;!&ndash;    JQuery Cookie&ndash;&gt;-->
  <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>-->

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<style>
#category-btn{
    background-color: #05AFF2;
  }


  .col-md-8 > h3{
  display: inline-block;
   border: 1px solid #05AFF2;
   padding: 5px;
  width:300px;
  border-radius: 4px;
}

.col-md-8 > h4{
  display: inline-block;
  margin-right:10px;
   
}

.category-btn{
  width:150px;
  background-color: #F2F2F2;
    border-radius: 6px;
    border-color: #858585;   
}

.category-btn:hover{
    background-color: #cac8c8;
    border-color: #555555;
    box-shadow: 0 10px 12px -3px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }

/* #tq{
  inner-
} */
</style>
<script>

</script>
<body>

  <%- include('admin-header.ejs')%>

<div class="container-fluid" style="background:#eee; margin-top: 40px; margin-bottom: 40px;">
  <div class="container" style="background: #fff; margin-top: 20px;padding: 0;" id="bb">
    
    <% if (typeof errorMessage !== 'undefined') { %>
            <%= errorMessage %>
          <% } else if (category) { %>


            <% for (var i = 0; i < category.length; i++) { %>
              <div class="container-fluid" style=" margin-top: 20px;" >
                <div class="row" id="categoryList<%=category[i].id %>">
                  <div class="col-md-2" id="image-container"></div>  
                  <div class="col-md-8" style="padding-bottom: 10px; padding-top: 15px;border: 3px dotted #5cd7f2; border-radius: 3px; cursor: pointer;">
                      <h4>카테고리: </h4>
                      <h3 id="cat-name"> <%= category[i].name %></h3>
                      <br>
                      <br>
                      <button class="category-btn" id="updateCategory-btn" onclick="updateCategory(`<%=category[i].id %>`, `<%= category[i].name %>`)">수정</button>
                    <button class="category-btn" style="float: right;" onclick="deleteCategory(`<%=category[i].id %>`)">삭제</button>
                    </div>
                </div>
              </div>
            <% } %>

            
          <% } %>
  </div>
</div>

<!--하단 메뉴바-->

<%- include('admin-footer.ejs')%>

</body>

<script>
let limit = <%= category.length %>
let offset = <%= category.length %>
let TotalCategory = <%= totalcategory %>

<%- include('js/admin-layout.js') %>
</script>

</html>