<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>공지</title>

  <!--    BootStrap Library-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link
      href="https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Jua&family=Noto+Serif+KR:wght@200&display=Gowun+Dodum&display=swap"
      rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
  <!--    JQuery-->
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <!--    &lt;!&ndash;    JQuery Cookie&ndash;&gt;-->
  <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>-->

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<style>
#notice-btn{
    background-color: yellowgreen;
  }
  .col-md-8 > h3{
    margin-top: 15px;
    margin-bottom: -5px;
  }
</style>
<script>

</script>
<body>

  <%- include('admin-header.ejs')%>

<div class="container-fluid" style="background:#eee; margin-top: 40px; margin-bottom: 40px;">
  <div class="container" style="background: #fff; margin-top: 20px;padding: 0;">
    
    <% if (typeof errorMessage !== 'undefined') { %>
            <%= errorMessage %>
          <% } else if (notices) { %>


            <% for (var i = 0; i < notices.length; i++) { %>
              <div class="container-fluid" style="border: 1px solid red; margin-top: 20px;" onclick="getNotice(`<%=notices[i].id %>`)">
                <div class="row">
                  <div class="col-md-2" id="image-container"></div> 
                    <div class="col-md-8" style="border: 1px solid red;">
                      <h3><%= notices[i].title %></h3>
                      <br>
                    </div>
                </div>
              </div>
            <% } %>

            
          <% } %>
  </div>
</div>

<!--하단 메뉴바-->

<%- include('admin-footer.ejs')%>

</body>

<script>

function getNotice (noticeId) {
        window.location.replace(`http://localhost:3000/notice/${noticeId}`)
    }

    function createNotice(){
        window.location.replace("http://localhost:3000/post/notice")
    }



</script>

</html>